@font-face {
  font-family: 'Poppings';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

body.nki-graphs-main{
    background-color: white !important;
    font-family: 'Poppings', sans-serif !important; 
}
.application-name-emphasis{
    color: mediumpurple;
    font-weight: 900;
    font-size: 2.5rem;
}
.application-name{
    font-weight: 700;
    font-size: 1.5rem;
}
.purple-btn{
    background-color: mediumpurple;
    border-radius: 7%;
}
.white-text{
    color: white;
}
.rounded-borders{
    border-radius: 0.4rem;
}
.section-title{
    margin: 0.5rem;
    font-weight: bolder;
    font-size: 1.3rem;
}
.custom-label{
    font-size: var(--oj-label-inside-edge-font-size);
    font-weight: var(--oj-label-inside-edge-font-weight);
    color: var(--oj-label-inside-edge-color);
}
.small-icon{
    font-size: medium;
}
.bottom-label{
    color: var(--oj-c-EXPERIMENTAL-DO-NOT-USE-base-button-variants-ghost-base-color);
    font-size: var(--oj-c-EXPERIMENTAL-DO-NOT-USE-base-button-font-size);
    font-weight: var(--oj-c-EXPERIMENTAL-DO-NOT-USE-body-md-font-weight-semibold);
}
.hidden-easter-egg{
    opacity: 0;
    transition: all 100ms;
    cursor: grabbing;
}
.hidden-easter-egg:hover{
    opacity: 0.08;
}