.dragCat-container {
  /* width: 100vh; */
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 0;
  margin: 0 1rem;
  gap: 1.3rem;
}

.dc-noData {
  color: gray;
  font-size: small;
}