.gTmpl__container {
  display: flex;
}

.gTmpl-main-btn {
  background-color: mediumpurple;
  border-radius: 7%;
}

.gTmpl-white-text {
  color: white;
}

p.gTmpl-error-text {
  color: #9c2828a1;

  font-size: small;
  margin: 0;
}

.gTmpl-help-text {
  font-size: small;
  color: #666666;
}

.gTmpl-dialog {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.gTmpl-dialog.gTmpl-wide-dialog {
  width: 1000px;
}

/* --- Header --- */
.gTmpl-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e0e6ed;
}

.gTmpl-header .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.gTmpl__options--state {
  font-size: 0.8rem;
}

.gTmpl__options--state .info {
  color: #28609cb4;
}

.gTmpl__options--state .error {
  color: #9c2828a1;
}

/* --- Body & Form --- */
.gTmpl-body {
  padding: 24px;
}

/* --- Footer & Buttons --- */

.gTmpl-footer {
  border-top: 1px solid #e0e6ed;
  padding: 0.5rem 1rem;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gTmpl-footer .gTmpl-save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* The main container for the entire layout */
.gTmpl-container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Common styles for both columns */
.gTmpl-column {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 300px;
}

/* Styles for the left column */
.gTmpl-column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

/* Styles for the right column */
.gTmpl-column-right {
  flex: 1;
}

/* Styles for the rows in the left column */
.gTmpl-row {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.gTmpl-row.gTmpl-row-select {
  display: flex;
  flex-direction: column;
}

.gTmpl__template-selection {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.gTmpl__template-selection .select-list {
  flex-grow: 1;
}

.gTmpl-miniChart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gTmpl-miniChart {
  flex-grow: 1;
}

.gTmpl-miniChart-styles {
  max-height: 250px;
  overflow: none;
  height: 100%;
  width: 100%;
}

.gTmpl-miniChart-noData {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gTmpl-graph-desc {
  overflow-y: auto;
  max-height: 140px;
}

.gTmpl__import-tmpls {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space;
  gap: 1rem;
}

.gTmpl__file-picker {
  width: 100% !important;
}

.gTmpl__import-tmpls .header {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid rgba(179, 179, 179, 0.322);
}

.gTmpl__import-tmpls .body {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.gTmpl__import-tmpls .file-upload-status span {
  font-size: 0.8rem;
  color: #9c2828a1;
}

.gTmpl__import-tmpls .file-summary span.emphasis {
  color: mediumpurple;
  font-weight: bold;
}

.gTmpl__import-tmpls .confirmation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}