<div class="gTmpl__container">
  <div on-click="[[() => saveTmplOpened(true)]]">
    <oj-bind-slot name="save"></oj-bind-slot>
  </div>
  <div on-click="[[handleOpenApplyTmplModal]]">
    <oj-bind-slot name="select"></oj-bind-slot>
  </div>
</div>
<oj-c-popup
  :id="[[saveTmplModalId]]"
  launcher="[[`#${saveTmplBtnId}`]]"
  opened="[[saveTmplOpened]]"
  auto-dismiss="none"
  modality="modal"
  anchor="window"
  tail="none"
>
  <div class="gTmpl-dialog">
    <div class="gTmpl-header">
      <h4>Guardar gráfico</h4>
      <oj-button
        class="oj-button-sm oj-sm-margin-2x-vertical"
        chroming="borderless"
        display="icons"
        on-oj-action="[[() => {saveTmplOpened(false)}]]"
      >
        <span class="material-icons"> close </span>
      </oj-button>
    </div>
    <div class="gTmpl-body">
      <form>
        <oj-input-text
          value="{{chartTmplName}}"
          label-hint="Nombre"
          label-edge="inside"
          required="true"
          translations.required="[[ inputTextTranslations ]]"
          length.max="50"
        >
        </oj-input-text>
        <oj-text-area
          value="{{chartTmplDesc}}"
          label-hint="Descripción"
          label-edge="inside"
          rows="3"
          class="oj-sm-padding-2x-top"
          length.counter="remaining"
          length.max="200"
        >
        </oj-text-area>
      </form>
      <oj-bind-if test="[[showError()]]">
        <span class="gTmpl-error-text">
          <oj-bind-text value="[[errorMessage]]"></oj-bind-text>
        </span>
      </oj-bind-if>
      <div>
        <ul class="gTmpl-help-text">
          <li>Tus gráficos se guardan en la caché del navegador.</li>
          <li>Gráficos con el mismo nombre se sobreescriben.</li>
          <li>Máximo 20 gráficos guardados.</li>
        </ul>
      </div>
    </div>
    <div class="gTmpl-footer">
      <div class="gTmpl-footer-left"></div>
      <div class="gTmpl-footer-right">
        <oj-button
          chroming="solid"
          class="gTmpl-main-btn"
          on-oj-action="[[handleSaveChartTmplClick]]"
        >
          <span slot="startIcon" class="gTmpl-white-text oj-sm-padding-2x-top"
            ><span class="material-icons"> save </span></span
          >
          <div class="gTmpl-white-text">Guardar</div></oj-button
        >
      </div>
    </div>
  </div>
</oj-c-popup>

<!-- Load Template modal -->
<oj-c-popup
  opened="[[ applyTmplOpened ]]"
  on-oj-open="[[ handleApplyTmplOpened ]]"
  auto-dismiss="none"
  modality="modal"
  anchor="window"
  tail="none"
>
  <div class="gTmpl-dialog gTmpl-wide-dialog">
    <div class="gTmpl-header">
      <div class="title">
        <h4>Cargar gráfico</h4>
        <oj-c-menu-button
          label="Menu"
          items="[[ templatesOptions ]]"
          display="icons"
          chroming="borderless"
          on-oj-menu-action="[[ handleOptionClick ]]"
        >
          <span slot="endIcon" class="material-icons"> keyboard_arrow_down </span>
        </oj-c-menu-button>
        <div class="gTmpl__options--state">
          <span :class="[[ optionsState().type ]]">
            <oj-bind-text value="[[ optionsState().text ]]"></oj-bind-text>
          </span>
        </div>
      </div>
      <div>
        <oj-button
          class="oj-button-sm oj-sm-margin-2x-vertical"
          chroming="borderless"
          display="icons"
          on-oj-action="[[() => {applyTmplOpened(false)}]]"
        >
          <span class="material-icons"> close </span>
        </oj-button>
      </div>
    </div>
    <div class="gTmpl-body">
      <div class="gTmpl-container">
        <!-- Left Column -->
        <div class="gTmpl-column gTmpl-column-left">
          <div class="gTmpl-row gTmpl-row-select">
            <div class="gTmpl__template-selection">
              <div class="select-list">
                <oj-select-single
                  id="chartTmplSelectList"
                  data="[[templatesDP]]"
                  value="{{selectedChart}}"
                  label-hint="Selecciona un gráfico"
                  required="true"
                  translations.required="[[ inputTextTranslations ]]"
                  item-text="name"
                  on-value-changed="[[ handleSelectedChartChange ]]"
                ></oj-select-single>
              </div>
            </div>
            <p class="gTmpl-error-text">
              <oj-bind-if test="[[showError]]">
                <oj-bind-text value="[[errorMessage]]"></oj-bind-text
              ></oj-bind-if>
            </p>
          </div>
          <div class="gTmpl-row gTmpl-row-content">
            <oj-bind-if test="[[!selectedChartObj()]]">
              <p class="gTmpl-help-text">Selecciona un gráfico para ver su descripción</p>
            </oj-bind-if>
            <oj-bind-if test="[[selectedChartObj()]]">
              <div class="gTmpl-graph-desc">
                <p><strong>Descripción</strong></p>
                <p>
                  <oj-bind-text
                    value="[[selectedChartObj().description || '-Sin descripción-']]"
                  ></oj-bind-text>
                </p>
              </div>
            </oj-bind-if>
          </div>
        </div>
        <!-- Right Column-->
        <div class="gTmpl-column gTmpl-column-right">
          <oj-bind-if test="[[!selectedChartObj()]]">
            <div class="gTmpl-miniChart-noData">
              <p class="gTmpl-help-text">Selecciona un gráfico para previsualizarlo.</p>
            </div>
          </oj-bind-if>
          <oj-bind-if test="[[selectedChartObj()]]">
            <div class="gTmpl-miniChart-container">
              <div>
                <p><strong>Preview</strong></p>
              </div>
              <div class="gTmpl-miniChart">
                <oj-chart
                  id="nki-mini-graph-preview"
                  coordinate-system="[[ MiniGraphPreviewProperties.getCoordinateSystem(selectedChartObj()) ]]"
                  data="[[ miniChartDataDp ]]"
                  y-axis.reference-objects="[[ MiniGraphPreviewProperties.getReferenceObjects(selectedChartObj()) ]]"
                  y-axis.max="[[ MiniGraphPreviewProperties.getYMax(selectedChartObj()) ]]"
                  y-axis.step="[[ MiniGraphPreviewProperties.getStep(selectedChartObj()) ]]"
                  orientation="[[ MiniGraphPreviewProperties.getOrientation(selectedChartObj()) ]]"
                  translations.label-no-data="[[ labelNoData ]]"
                  type="bar"
                  stack="on"
                  polar-grid-shape="circle"
                  style-defaults.data-label-position="none"
                  animation-on-display="zoom"
                  animation-on-data-change="slideToLeft"
                  legend.rendered="off"
                  hover-behavior="dim"
                  class="gTmpl-miniChart-styles"
                  drilling="off"
                  hover-behavior="dim"
                >
                  <template slot="itemTemplate" data-oj-as="item">
                    <oj-chart-item
                      value="[[ item.data.value ]]"
                      group-id="[[ [item.data.group] ]]"
                      series-id="[[ item.data.group ]]"
                      label="[[ item.data.value ]]"
                    ></oj-chart-item>
                  </template>
                  <template slot="seriesTemplate" data-oj-as="series">
                    <oj-chart-series color="[[series.items[0].data.color]]"></oj-chart-series>
                  </template>
                </oj-chart>
              </div>
            </div>
          </oj-bind-if>
        </div>
      </div>
    </div>
    <div class="gTmpl-footer">
      <div class="gTmpl-footer-left">
        <oj-button chroming="solid" on-oj-action="[[handleRemoveChartTmplClick]]">
          <span slot="startIcon" class="oj-sm-padding-2x-top"
            ><span class="material-icons"> delete </span></span
          >
          Borrar</oj-button
        >
      </div>
      <div class="gTmpl-footer-right">
        <oj-button
          chroming="solid"
          class="gTmpl-main-btn"
          on-oj-action="[[handleApplyChartTmplClick]]"
        >
          <span slot="startIcon" class="gTmpl-white-text oj-sm-padding-2x-top"
            ><span class="material-icons"> install_desktop</span></span
          >
          <div class="gTmpl-white-text">Aplicar</div></oj-button
        >
      </div>
    </div>
  </div>
</oj-c-popup>

<!-- Import templates modal -->
<oj-c-popup
  opened="[[ importTmplsOpened ]]"
  on-oj-open="[[ handleImportTmplsOpened ]]"
  on-oj-close="[[ () => importTmplsOpened(false) ]]"
  auto-dismiss="focusLoss"
  modality="modal"
  anchor="window"
  tail="none"
>
  <div class="gTmpl__import-tmpls">
    <div class="header">
      <oj-button
        class="oj-button-sm oj-sm-margin-2x-vertical"
        chroming="borderless"
        display="icons"
        on-oj-action="[[ () => importTmplsOpened(false) ]]"
      >
        <span class="material-icons"> close </span>
      </oj-button>
    </div>
    <div class="body">
      <oj-bind-if test="[[ !isValidFile() ]]">
        <oj-c-file-picker
          accept="[[ ['application/json'] ]]"
          selection-mode="single"
          primary-text="Arrastra o selecciona tu archivo"
          secondary-text="Sólo se permite un archivo .json"
          class="gTmpl__file-picker"
          on-oj-select="[[ handleFileSelect ]]"
        ></oj-c-file-picker>
      </oj-bind-if>
      <oj-bind-if test="[[ !isValidFile() ]]">
        <div class="file-upload-status">
          <span><oj-bind-text value="[[ fileUploadStatus ]]"></oj-bind-text></span>
        </div>
      </oj-bind-if>
      <oj-bind-if test="[[ isValidFile() ]]">
        <div class="file-summary">
          <p>
            Se importarán
            <span class="emphasis"
              ><oj-bind-text value="[[ fileSummary().numberOfGraphs ]]"></oj-bind-text
            ></span>
            gráficos exportados el día
            <span class="emphasis"
              ><oj-bind-text value="[[ fileSummary().date ]]"></oj-bind-text>.</span
            >
          </p>
          <p>Si continúas, tus gráficos actuales serán reemplazados.</p>
        </div>
        <div class="confirmation">
          <oj-button chroming="solid" on-oj-action="[[ () => importTmplsOpened(false) ]]">
            <span slot="startIcon" class="oj-sm-padding-2x-top"
              ><span class="material-icons"> chevron_left </span></span
            >
            Regresar</oj-button
          >
          <oj-button chroming="solid" class="gTmpl-main-btn" on-oj-action="[[ handleApplyImport ]]">
            <span slot="startIcon" class="gTmpl-white-text oj-sm-padding-2x-top"
              ><span class="material-icons"> check</span></span
            >
            <div class="gTmpl-white-text">Continuar</div></oj-button
          >
        </div>
      </oj-bind-if>
    </div>
  </div>
</oj-c-popup>
