.gTmpl-main-btn {
  background-color: mediumpurple;
  border-radius: 7%;
}

.gTmpl-white-text {
  color: white;
}

.gTmpl-error-text {
  color: var(--oj-core-danger-3);
  font-size: small;
}

.gTmpl-help-text {
  font-size: small;
  color: #666666;
}

.gTmpl-dialog {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.gTmpl-dialog.gTmpl-wide-dialog {
  width: 1000px;
}

/* --- Header --- */
.gTmpl-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e0e6ed;
}

.gTmpl-header .gTmpl-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.gTmpl-header .gTmpl-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

/* --- Body & Form --- */
.gTmpl-body {
  padding: 24px;
}

/* --- Footer & Buttons --- */

.gTmpl-footer {
  border-top: 1px solid #e0e6ed;
  padding: 0.5rem 1rem;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gTmpl-footer .gTmpl-save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* The main container for the entire layout */
.gTmpl-container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Common styles for both columns */
.gTmpl-column {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 300px;
}

/* Styles for the left column */
.gTmpl-column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

/* Styles for the right column */
.gTmpl-column-right {
  flex: 1;
}

/* Styles for the rows in the left column */
.gTmpl-row {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.gTmpl-miniChart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gTmpl-miniChart {
  flex-grow: 1;
}

.gTmpl-miniChart-styles {
  max-height: 250px;
  overflow: none;
  height: 100%;
  width: 100%;
}

.gTmpl-miniChart-noData {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gTmpl-graph-desc {
  overflow-y: auto;
  max-height: 140px;
}