<div class="refA-main" id="refA-modal">
  <div class="title">
    <div class="start">
      <span class="nkiGraphs-strong-text"></span>
      <div class="subHeader">
        <span> Mostrar Leyendas </span>
        <oj-switch
          value="{{displayInLegend}}"
          on-value-changed="[[handleDisplayInLegendChange]]"
        ></oj-switch>
      </div>
    </div>
    <div class="end">
      <div class="nkiGraphs-clickable-icon-cont" on-click="[[ addArea ]]">
        <span class="material-icons nkiGraphs-clickable-icon"> add </span>
      </div>
    </div>
  </div>
  <div class="body">
    <oj-bind-for-each data="[[mappedAreas]]">
      <template data-oj-as="area">
        <div class="refA-row">
          <div class="form">
            <div class="name">
              <div class="stripe" :style.background-color="[[area.data.color]]"></div>
              <oj-c-input-text
                value="{{area.data.name}}"
                label-hint="Nombre"
                required="true"
                on-value-changed="[[handleValueChanged]]"
              ></oj-c-input-text>
            </div>
            <div class="number">
              <oj-c-input-number
                value="{{area.data.low}}"
                label-hint="Bajo"
                required="true"
                on-value-changed="[[handleValueChanged]]"
              ></oj-c-input-number>
            </div>
            <div class="number">
              <oj-c-input-number
                value="{{area.data.high}}"
                label-hint="Alto"
                required="true"
                on-value-changed="[[handleValueChanged]]"
              ></oj-c-input-number>
            </div>
            <div class="color">
              <oj-c-input-text
                value="{{area.data.color}}"
                label-hint="Color"
                on-value-changed="[[handleValueChanged]]"
              ></oj-c-input-text>
              <a class="opener-link" href="#" on-click="[[() => openColorPicker(area)]]">
                Elegir
                <span class="material-icons opener-link"> call_made </span>
              </a>
            </div>
            <div class="number">
              <div class="nkiGraphs-clickable-icon-cont" on-click="[[() => removeArea(area)]]">
                <span class="material-icons nkiGraphs-clickable-icon"> close </span>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template slot="noData">
        <span>No hay áreas de referencia</span>
      </template>
    </oj-bind-for-each>
  </div>
  <div class="footer">
    <span class="error">
      <oj-bind-text value="[[globalErrm]]"></oj-bind-text>
    </span>
  </div>
</div>
<oj-c-popup
  id="refA-colorPicker"
  opened="{{colorPickerOpened}}"
  auto-dismiss="focusLoss"
  anchor="window"
  modality="modal"
>
  <div class="refA-color-picker">
    <div class="header">
      <div class="title">
        <span>Selecciona un color</span>
      </div>
      <div class="close">
        <a href="#" on-click="[[() => colorPickerOpened(false)]]">
          <span class="material-icons"> close </span>
        </a>
      </div>
    </div>
    <div class="body">
      <oj-color-spectrum
        label-hint="Selecciona un Color"
        label-edge="none"
        value="{{areaColor}}"
        on-value-changed="[[ handleAreaColorChange ]]"
      ></oj-color-spectrum>
    </div>
    <div class="footer"></div>
  </div>
</oj-c-popup>
