.refA-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.refA-main .title {
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.refA-main .title .subHeader {
  display: flex;
  align-items: center;
}

.refA-main .title .subHeader span {
  margin-right: 1em;
  font-size: small;
}

.refA-main .body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  overflow-y: auto;
  max-height: 370px;
}

.refA-main .footer {
  flex-grow: 0;
  display: flex;
  justify-content: end;
  align-items: end;
}

.refA-main .footer .error {
  font-size: small;
  color: rgba(168, 28, 28, 0.774);
}

.refA-row {
  display: flex;
  width: 100%;
  margin: 0.6em 0 0.6em 0;
  padding: 0.6rem 0 0.6em 0;
  min-height: 2.5rem;
}

.refA-row .form {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.refA-row .form>div {
  padding: 0 0.5em 0 0.5em
}

.refA-row .form .name {
  flex-grow: 2;
  display: flex;
}

.refA-row .form .name .stripe {
  flex-grow: 0;
  margin-right: 0.3rem;
  width: 0.6rem;
  background-color: rgba(192, 192, 192, 0.719);
}

.refA-row .form .number {
  flex-grow: 0;
}

.refA-row .form .color {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.refA-row .form .color .opener-link {
  font-size: 0.85rem;
  color: var(--nkiGraphs-text-muted);
  padding-top: 0.1rem;
}

.refA-color-picker {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.refA-color-picker .header {
  display: flex;
  justify-content: space-between;
}

.refA-color-picker .header .title {
  font-size: 1rem;
}

.refA-color-picker .header .close a {
  color: var(--nkiGraphs-text-muted);
}